######################################################################
# Python
######################################################################
*.pyc
*.pickle
__pycache__
.mypy_cache
.venv*
*.egg-info/
*.egg
dist

######################################################################
# Others
######################################################################
tags
*.out
*.bin
*.bak*
*.orig
